.buttons {
    -fx-background-color: #333333;
    -fx-text-fill: lightgrey;
    -fx-font-family: Calibri;
    -fx-font-size: 22px;
}

.label {
    -fx-text-fill: #333333;
    -fx-font-family: Calibri;
    -fx-font-size: 22px;
}

.buttons:hover{
    -fx-background-color: #999999;
    -fx-text-fill: #333333;
}