.buttons {
    -fx-background-color: #CCCCCC;
    -fx-background-color: rgba(204, 204, 204, 0.5);
    -fx-text-fill: #333333;
    -fx-font-family: Calibri;
    -fx-font-size: 22px;
}

.label {
    -fx-text-fill: #CCCCCC;
    -fx-font-family: Calibri;
    -fx-font-size: 22px;
}

.buttons:hover {
    -fx-background-color: #333333;
    -fx-background-color: rgba(102, 102, 102, 0.5);
    -fx-text-fill: #CCCCCC;
}

.buttons:focused {
    -fx-border-color: white;
    -fx-border-width: 1px;
}

.hintergrund {
    -fx-background-color: #333333;
    -fx-background-image: url("/bilder/hintergrundGrafik.png");
}